
  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin:4px 2px;
  cursor: pointer;
}
  .button1 {
  border-radius:10px;
  background-color: black;
  color:white;
  border: 2px solid grey;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}
  @font-face {
    font-family: GodoB;
    src: url("GodoM.ttf");
  }
  a,button {
    color:white;
    text-decoration:none;
    font-family:GodoB;
    font-size:20px;
    letter-spacing:10px;
    line-height:60px;
  }
  h1 {
    font-size:35px;
    text-align:center;
    font-family:GodoB;
    color:white;
    border-bottom:1px solid white;
    padding:50px;
    margin:0px;
    letter-spacing:30px;
  }
  ul{
    border-right:1px solid white;
    width:400px;
    margin:0px;
    padding:30px;
  }
  body,xmp,a{
    font-family:GodoB;
    color:white;
    text-decoration:none;
    margin:0px;
  }
  #grid{
    display:grid;
    grid-template-columns:480px 1fr 1fr;
  }
  #disqus_thread{
    margin:60px;
  }
  @media(max-width:1500px){
    #header{
      margin-left:auto;
      margin-right:auto;
    }
    #grid{
      display:block;
      font-size:23px;
    }
    ul{
      list-style:none;
      border-right:none;
      margin-left:auto;
      margin-right:auto;
    }
    
    #lyrics{
      margin-left:auto;
      margin-right:auto;
    }
    h2,h3{
      text-align:center;
      margin:30px
    }
    h2{
        border-top:1px solid white;
        padding:40px;
    }
    iframe{
     width:800px;
     height:400px;
   }
  }
